<div class="colors-descriotion mt-3 ml-4">
    <button class="btn btn-dark" type="button" data-toggle="collapse" data-target="#collapseDescription" aria-expanded="false" aria-controls="collapseDescription">
        Подробное описание значение цвета шляп
    </button>
    <div id="collapseDescription" class="collapse" aria-labelledby="headingTheme" data-parent="#accordion">
        <div class="card-body">
            <strong>Белая шляпа: информация</strong>
            <span>Белая шляпа используется для того, чтобы направить внимание на информацию. 
                В этом режиме мышления нас интересуют только факты. Мы задаемся вопросами о том, 
                что мы уже знаем, какая еще информация нам необходима и как нам ее получить.</span>
            <br>
            <strong>Красная шляпа: чувства и интуиция</strong>
            <span>В режиме красной шляпы у участников сессии появляется возможность высказать свои 
                чувства и интуитивные догадки относительно рассматриваемого вопроса, не вдаваясь в 
                объяснения о том, почему это так, кто виноват и что делать.</span>
            <br>
            <strong>Черная шляпа: критика</strong>
            <span>Черная шляпа позволяет дать волю критическим оценками, опасениям и осторожности. 
                Она защищает нас от безрассудных и непродуманных действий, указывает на возможные риски 
                и подводные камни. Польза от такого мышления несомненна, если, конечно, им не злоупотреблять.</span>
            <br>
            <strong>Желтая шляпа: логический позитив</strong>
            <span>Желтая шляпа требует от нас переключить свое внимание на поиск достоинств, преимуществ 
                и позитивных сторон рассматриваемой идеи.</span>
            <br>
            <strong>Зеленая шляпа: креативность</strong>
            <span>Находясь под зеленой шляпой, мы придумываем новые идеи, модифицируем уже существующие, 
                ищем альтернативы, исследуем возможности, в общем, даем креативности зеленый свет.</span>
            <br>
            <strong>Синяя шляпа: управление процессом</strong>
            <span>Синяя шляпа отличается от других шляп тем, что она предназначена не для работы с 
                содержанием задачи, а для управления самим процессом работы. В частности, 
                ее используют в начале сессии для определения того, что предстоит сделать, и в конце, 
                чтобы обобщить достигнутое и обозначить новые цели.</span>
        </div>
    </div>
</div>