{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container">
    <div class="row" style="flex-wrap: wrap;">
        <div class="col-8">
            <div class="row room-users">
                <img src ="{% static 'image/table.png' %}">
                {% include 'discussion/users_avatars.html' %}
            </div>
        </div>
        {% include 'discussion/chat_window.html' %}
    </div>
</div>

{{ theme.pk|json_script:"theme_id" }}
<script>
    
    $('#all_messages').scrollTop($('#all_messages')[0].scrollHeight);
    const themeID = JSON.parse(document.getElementById('theme_id').textContent);
    const ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    const discussionSocket = new WebSocket(ws_scheme + '://' + window.location.host + '/ws/discussion/' + themeID + '/');

    let discussionTimeIntervalId;
    let botTimeIntervalId;
    let getOneBotfiveUsersTimeoutId;
    let getTwoBotfourUsersTimeoutId;
    let getBotWhenfourUsersTimeoutId;

    let discussionTime = 360000//18000000; // 30 minutes
    let discussionTimeOneUser = 60000//300000; // 5 minutes
    let botAddTime =  10000//420000; // 7 minutes

    let maxNumberParticipants = 6;
    let started_discussion = false;

    let userColors = ['blue', 'white', 'red', 'black', 'yellow', 'green'];
    let colorDescription = ['Управление', 'Информация и факты', 'Эмоции и Чувства', 'Критическое суждение', 'Оптимистичность', 'Креативность'];

    discussionSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const message = data['message'];
        const receive_user = data['user'];
        const user = '{{ user }}';

        if (!!message && !!receive_user) {
            if (receive_user === user) {
                $('<li><div class="chat-body"><p class="text-right"><strong>' + user + '</strong></p><p class="text-right">' + message + '</p></div></li>').appendTo($('.chat'))
            } else {
                $('<li><div class="chat-body"><p class="text-left"><strong>' + receive_user + '</strong></p><p class="text-left">' + message + '</p></div></li>').appendTo($('.chat'))
            };
        }
        
        $('#all_messages').scrollTop($('#all_messages')[0].scrollHeight);
  
        if (data['room_users']) {
            const newRoomUsers = JSON.parse(data['room_users'])

            let roomUserHtml = ''
            for (let i in newRoomUsers) {
                roomUserHtml = roomUserHtml + 
                '<div class="user-avatar avatar-' + (parseInt(i) + 1) + ' col-3 m-1" title=""> \
                    <img class="card-img-top" src="/media/' + newRoomUsers[i].fields.avatar + '" alt="User avatar"> \
                    <h6 align="center" class="user-name">' + newRoomUsers[i].fields.username + '</h6> \
                </div>';
            }

            let roomBots = JSON.parse(data['bots'])

            if (newRoomUsers.length === 4 && started_discussion === false) { 
                getBotWhenfourUsersTimeoutId = setTimeout(() => {
                    discussionSocket.send(JSON.stringify({
                        'bots': true,
                    }))        
                }, botAddTime);
            } else if (newRoomUsers.length === 5 && started_discussion === true && roomBots.length === 0) {
                console.log(started_discussion)
                getOneBotfiveUsersTimeoutId = setTimeout(() => {
                    discussionSocket.send(JSON.stringify({
                        'bot_1': true,
                    }))        
                }, 3000); //120000// 2 minutes
            } else if (newRoomUsers.length === 4 && started_discussion === true && roomBots.length === 1) {
                getTwoBotfourUsersTimeoutId = setTimeout(() => {
                    discussionSocket.send(JSON.stringify({
                        'bot_2': true,
                    }))        
                }, 3000); // 2 minutes
            }

            if (newRoomUsers.length === 5 && started_discussion === true && roomBots.length === 1) {
                clearTimeout(getTwoBotfourUsersTimeoutId);

            } else if (newRoomUsers.length === 6 && started_discussion === true) {
                clearTimeout(getOneBotfiveUsersTimeoutId);

            } else if (newRoomUsers.length !== 4) {
                clearTimeout(getBotWhenfourUsersTimeoutId);
            }
  
            
            if (roomBots) {

                if (roomBots.length === 1 && roomBots[0].fields.name === 'bot_1') {
                    roomUserHtml = roomUserHtml +
                    '<div class="user-avatar avatar-' + 6 + ' col-3 m-1" title="" > \
                        <img class="card-img-top" src="/media/' + roomBots[0].fields.avatar + '" alt="User avatar"> \
                        <h6 align="center" class="user-name">' + roomBots[0].fields.name + '</h6> \
                    </div>';
                } else if (roomBots.length === 1 && roomBots[0].fields.name === 'bot_2') {
                    roomUserHtml = roomUserHtml +
                    '<div class="user-avatar avatar-' + 5 + ' col-3 m-1" title="" > \
                        <img class="card-img-top" src="/media/' + roomBots[0].fields.avatar + '" alt="User avatar"> \
                        <h6 align="center" class="user-name">' + roomBots[0].fields.name + '</h6> \
                    </div>';
                } else {
                    for (let i in roomBots) {
                        roomUserHtml = roomUserHtml +
                        '<div class="user-avatar avatar-' + (parseInt(i) + 5) + ' col-3 m-1" title="" > \
                            <img class="card-img-top" src="/media/' + roomBots[i].fields.avatar + '" alt="User avatar"> \
                            <h6 align="center" class="user-name">' + roomBots[i].fields.name + '</h6> \
                        </div>';
                    }   
                }
            }  

            $('.user-avatars').html($(roomUserHtml)); 
            $('.user-avatar').tooltip();  

            
            if (newRoomUsers.length === maxNumberParticipants || newRoomUsers.length + roomBots.length === maxNumberParticipants) {
                setTimeout(() => {
                    started_discussion = true;
                    startTimer();
                    changeColor();   
                    discussionTimeIntervalId = setInterval(changeColor, discussionTimeOneUser);
                    getBotComment();
                }, 2000);
            }

            if (newRoomUsers.length < 4 && started_discussion === true) {
                discussionSocket.send(JSON.stringify({
                    'closed': true
                }));
            }
        }

        if (data['bot_name']) {
            let botName = data['bot_name'];
            let botComment = data['bot_comment'];
            
            $('<li><div class="chat-body"><p class="text-left"><strong>' + botName + '</strong></p><p class="text-left">' + botComment + '</p></div></li>').appendTo($('.chat'))
            $('#all_messages').scrollTop($('#all_messages')[0].scrollHeight);
        }
    }


    discussionSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInput = document.querySelector('#chat-message-input');
        const message = messageInput.value;

        let colorValue;
        let roomUsersAvatar = document.querySelectorAll(".room-users .user-avatar")
        
        for (let i = 0; i < roomUsersAvatar.length; i++) {
            if ('{{ user }}' === roomUsersAvatar[i].innerText) {
                colorValue = roomUsersAvatar[i].style.borderColor;
            }
        }
        
        if (roomUsersAvatar.length === maxNumberParticipants) {
            discussionSocket.send(JSON.stringify({
                'message': message,
                'colorValue': colorValue,
            }));

            messageInput.value = '';
            
        } else {
            messageInput.value = '';
            alert('Недостаточно участников');
        }
    };


    function changeColor() {
        let roomUsersAvatar = document.getElementsByClassName('user-avatars')[0].children;
        for (let i = 0; i < roomUsersAvatar.length; i++) {
            roomUsersAvatar[i].style.border = `10px solid ${userColors[i]}`;
            roomUsersAvatar[i].style.background = userColors[i];
            roomUsersAvatar[i].setAttribute('data-original-title', colorDescription[i]);
        }
        
        userColors.unshift(userColors.pop());
        colorDescription.unshift(colorDescription.pop());

        discussionTime = discussionTime - discussionTimeOneUser;

        if (roomUsersAvatar.length < maxNumberParticipants) {
            clearInterval(discussionTimeIntervalId);
            clearInterval(botTimeIntervalId);

            for (let i = 0; i < roomUsersAvatar.length; i++) {
                roomUsersAvatar[i].style.border = '10px solid #343a40';
                roomUsersAvatar[i].style.background = '#343a40';
            }

            discussionSocket.onclose();
            alert('Недостаточно участников для продолжения!');
        }
        if (discussionTime === 0) {

            clearInterval(discussionTimeIntervalId);
            clearInterval(botTimeIntervalId);
            setTimeout(() => {
                discussionSocket.send(JSON.stringify({
                    'closed': true
                }));
                discussionSocket.onclose();
                for (let i = 0; i < roomUsersAvatar.length; i++) {
                    roomUsersAvatar[i].style.border = '10px solid #343a40';
                    roomUsersAvatar[i].style.background = '#343a40';
                }
                alert('Обсуждение завершено!');
                window.location.replace(`${window.location.protocol}//${window.location.host}`);
            }, discussionTimeOneUser);
        }
    };


    function getBotComment(bot) {
        let botName;
        let timeGetBotComment = Math.floor(Math.random() * (180000 - 10000)) + 10000; // от 10 секунд до 3 минут
        botTimeIntervalId = setInterval(() => {
            let roomUsersAvatar = document.getElementsByClassName('user-avatars')[0].children;
            timeGetBotComment = Math.floor(Math.random() * (180000 - 10000)) + 10000;

            if (bot === 'bot_1' || bot === 'bot_2') {
                botName = bot;
            } else {
                botName = `bot_${Math.floor(Math.random() * (3 - 1)) + 1}`
            }
            let botIndex;
            for (let i = 0; i < roomUsersAvatar.length; i++) {
                if (roomUsersAvatar[i].innerText === botName) {
                    botIndex = i;
                }
            }

            discussionSocket.send(JSON.stringify({
                'botComment': true,
                'botName': botName,
                'botColor': roomUsersAvatar[botIndex].style.borderColor
            }));

        }, timeGetBotComment);
    };


    let duration_timer = 360; //1800// 30 minutes
    let timerElement = document.querySelector('.timer')

    function startTimer() {
      
        let timer = duration_timer, minutes, seconds;
        
        timerIntervalId = setInterval(function() {
            minutes = parseInt(timer / 60, 10)
            seconds = parseInt(timer % 60, 10);

            minutes = minutes < 10 ? "0" + minutes : minutes;
            seconds = seconds < 10 ? "0" + seconds : seconds;

            timerElement.textContent = `00:${minutes}:${seconds}`;
            if (--timer < 0) {
                clearInterval(timerIntervalId);
            }

        }, 1000);
    };

</script>
{% endblock %}
