{% extends 'base.html' %}

{% load staticfiles %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="row room-users">
                <img src ="{% static 'image/table.png' %}">
                
                <div class="user-avatars">
                    {% if users.0 %}
                        <div class="avatar-1 col-3 m-1">                        
                            <img class="card-img-top" src="{{ users.0.avatar.url }}" alt="User avatar">
                            <h6 align="center" class="user-name">{{ users.0.username }}</h6>
                        </div>
                    {% endif %}

                    {% if users.1 %}
                        <div class="avatar-2 col-3 m-1">                       
                            <img class="card-img-top" src="{{ users.1.avatar.url }}" alt="User avatar">                        
                            <h6 align="center" class="user-name">{{ users.1.username }}</h6>
                        </div>
                    {% endif %}

                    {% if users.2 %}
                        <div class="avatar-3 col-3 m-1">                        
                            <img class="card-img-top" src="{{ users.2.avatar.url }}" alt="User avatar">                       
                            <h6 align="center" class="user-name">{{ users.2.username }}</h6>
                        </div>
                    {% endif %}

                    {% if users.3 %}
                        <div class="avatar-4 col-3 m-1">                        
                            <img class="card-img-top" src="{{ users.3.avatar.url }}" alt="User avatar">                       
                            <h6 align="center" class="user-name">{{ users.3.username }}</h6>
                        </div>
                    {% endif %}

                    {% if users.4 %}
                        <div class="avatar-5 col-3 m-1">                       
                            <img class="card-img-top" src="{{ users.4.avatar.url }}" alt="User avatar">                        
                            <h6 align="center" class="user-name">{{ users.4.username }}</h6>
                        </div>
                    {% endif %}

                    {% if users.5 %}
                        <div class="avatar-6 col-3 m-1">                       
                            <img class="card-img-top" src="{{ users.5.avatar.url }}" alt="User avatar">                      
                            <h6 align="center" class="user-name">{{ users.5.username }}</h6>
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>

        <div class="col-4 mt-5">

            <div id="accordion">
                <div class="card">
                  <a class="theme-header btn-dark" data-toggle="collapse" data-target="#collapseTheme" aria-expanded="true" aria-controls="collapseTheme">
                    {{ theme.theme }}
                  </a>
                  
                  <div id="collapseTheme" class="collapse" aria-labelledby="headingTheme" data-parent="#accordion">
                    <div class="card-body">
                      {{ theme.description }}
                    </div>
                  </div>
                </div>
              </div>
            
            <div class="card">
                <div class="chat-card card-body" id="all_messages">
                    <ul class="chat">

                        {% if request.user.is_authenticated %}
                            {% if request.user != theme.author %}
                                {% for comment in comments %}
                                    {% if comment.author == user %}
                                        <li>
                                            <div class="chat-body">
                                                <p class="text-right"><strong>{{ comment.author }}</strong></p>
                                                <p class="text-right">{{ comment.comment }}</p>
                                            </div>
                                        </li>
                                    {% else %}
                                        <li>
                                            <div class="chat-body">
                                                <p class="text-left"><strong>{{ comment.author }}</strong></p>
                                                <p class="text-left">{{ comment.comment }}</p>
                                            </div>
                                        </li>
                                    {% endif %}
                                {% endfor %}

                            {% else %}
                                <div>Автор темы не может участвовать в обсуждении</div>
                            {% endif %}

                        {% else %}
                            <div>Please Login</div>
                        {% endif %}
                    </ul>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <input id="chat-message-input" type="text" class="form-control input-sm" placeholder="" />
                        <span class="input-group-btn">
                            <button class="btn btn-dark btn-md" id="chat-message-submit">Отправить</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{{ theme.pk|json_script:"theme_id" }}
<script>
    
    $('#all_messages').scrollTop($('#all_messages')[0].scrollHeight);
    const themeID = JSON.parse(document.getElementById('theme_id').textContent);
    const ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
    const chatSocket = new WebSocket(ws_scheme + '://' + window.location.host + '/ws/discussion/' + themeID + '/');

    let discussionTimeIntervalId;
    let botTimeIntervalId;
    let botGetTimeoutId;
    let discussionTime = 30000; //18000000; // 30 minutes
    let discussionTimeOneUser = 5000; //300000; // 5 minutes
    let botAddTime = 3000; //420000; // 7 minutes
    let maxNumberParticipants = 6;
    let userColors = ['blue', 'white', 'red', 'black', 'yellow', 'green'];

    chatSocket.onmessage = function (e) {
        const data = JSON.parse(e.data);
        const message = data['message'];
        const receive_user = data['user'];
        const user = '{{ user }}';

        if (!!message && !!receive_user) {
            if (receive_user === user) {
                $('<li><div class="chat-body"><p class="text-right"><strong>' + user + '</strong></p><p class="text-right">' + message + '</p></div></li>').appendTo($('.chat'))
            } else {
                $('<li><div class="chat-body"><p class="text-left"><strong>' + receive_user + '</strong></p><p class="text-left">' + message + '</p></div></li>').appendTo($('.chat'))
            };
        }
        
        $('#all_messages').scrollTop($('#all_messages')[0].scrollHeight);
  
        if (data['room_users']) {
            const newRoomUsers = JSON.parse(data['room_users'])

            let roomUserHtml = ''
            for (let i in newRoomUsers) {
                roomUserHtml = roomUserHtml + 
                '<div class="user-avatar avatar-' + (parseInt(i) + 1) + ' col-3 m-1" > \
                    <img class="card-img-top" src="/media/' + newRoomUsers[i].fields.avatar + '" alt="User avatar"> \
                    <h6 align="center" class="user-name">' + newRoomUsers[i].fields.username + '</h6> \
                </div>';
            }

            if (newRoomUsers.length === 4) { 
                botGetTimeoutId = setTimeout(() => {
                    chatSocket.send(JSON.stringify({
                        'bot': true,
                    }))        
                }, botAddTime);
            }

            if (newRoomUsers.length !== 4) {
                clearTimeout(botGetTimeoutId);
            }

            roomBots = JSON.parse(data['bots'])
            
            if (roomBots) {                
                for (let i in roomBots) {
                    roomUserHtml = roomUserHtml +
                    '<div class="user-avatar avatar-' + (parseInt(i) + 5) + ' col-3 m-1" > \
                        <img class="card-img-top" src="/media/' + roomBots[i].fields.avatar + '" alt="User avatar"> \
                        <h6 align="center" class="user-name">' + roomBots[i].fields.name + '</h6> \
                    </div>';
                }
            }   

            $('.user-avatars').html($(roomUserHtml));  

            if (newRoomUsers.length === maxNumberParticipants || newRoomUsers.length + roomBots.length === maxNumberParticipants) {
                setTimeout(() => {
                    changeColor();
                    discussionTimeIntervalId = setInterval(changeColor, discussionTimeOneUser);
                    getBotComment();
                }, 2000);
            }
        }

        if (data['bot_name']) {
            let botName = data['bot_name'];
            let botComment = data['bot_comment'];
            
            $('<li><div class="chat-body"><p class="text-left"><strong>' + botName + '</strong></p><p class="text-left">' + botComment + '</p></div></li>').appendTo($('.chat'))
            $('#all_messages').scrollTop($('#all_messages')[0].scrollHeight);
        }
    }

    function getBotComment() {
        let timeGetBotComment = Math.floor(Math.random() * (10000 - 5000)) + 5000;
        botTimeIntervalId = setInterval(() => {
            let roomUsersAvatar = document.getElementsByClassName('user-avatars')[0].children;
            timeGetBotComment = Math.floor(Math.random() * (10000 - 5000)) + 5000;
            let botName = `bot_${Math.floor(Math.random() * (3 - 1)) + 1}`
            let botIndex;
            for (let i = 0; i < roomUsersAvatar.length; i++) {
                if (roomUsersAvatar[i].innerText === botName) {
                    botIndex = i;
                }
            }

            chatSocket.send(JSON.stringify({
                'botComment': true,
                'botName': botName,
                'botColor': roomUsersAvatar[botIndex].style.borderColor
            }));

        }, timeGetBotComment);
    }

    chatSocket.onclose = function (e) {
        console.error('Chat socket closed unexpectedly');
    };

    document.querySelector('#chat-message-input').focus();
    document.querySelector('#chat-message-input').onkeyup = function (e) {
        if (e.keyCode === 13) {
            document.querySelector('#chat-message-submit').click();
        }
    };

    document.querySelector('#chat-message-submit').onclick = function (e) {
        const messageInput = document.querySelector('#chat-message-input');
        const message = messageInput.value;

        let colorValue;
        let roomUsersAvatar = document.querySelectorAll(".room-users .user-avatar")
        
        for (let i = 0; i < roomUsersAvatar.length; i++) {
            if ('{{ user }}' === roomUsersAvatar[i].innerText) {
                colorValue = roomUsersAvatar[i].style.borderColor;
            }
        }
        
        if (roomUsersAvatar.length === maxNumberParticipants) {
            chatSocket.send(JSON.stringify({
                'message': message,
                'colorValue': colorValue,
            }));

            messageInput.value = '';
            
        } else {
            messageInput.value = '';
            alert('Недостаточно участников');
        }
    };


    function changeColor() {
        let roomUsersAvatar = document.getElementsByClassName('user-avatars')[0].children;
        for (let i = 0; i < roomUsersAvatar.length; i++) {
            roomUsersAvatar[i].style.border = `10px solid ${userColors[i]}`;
            roomUsersAvatar[i].style.background = userColors[i];
        }
        
        userColors.unshift(userColors.pop());
        discussionTime = discussionTime - discussionTimeOneUser;

        if (roomUsersAvatar.length < maxNumberParticipants) {
            clearInterval(discussionTimeIntervalId);
            clearInterval(botTimeIntervalId);

            for (let i = 0; i < roomUsersAvatar.length; i++) {
                roomUsersAvatar[i].style.border = '10px solid #343a40';
                roomUsersAvatar[i].style.background = '#343a40';
            }
            chatSocket.onclose();
            alert('Недостаточно участников для продолжения!');
        }
        if (discussionTime === 0) {

            clearInterval(discussionTimeIntervalId);
            clearInterval(botTimeIntervalId);
            setTimeout(() => {
                chatSocket.onclose();
                for (let i = 0; i < roomUsersAvatar.length; i++) {
                    roomUsersAvatar[i].style.border = '10px solid #343a40';
                    roomUsersAvatar[i].style.background = '#343a40';
                }
                alert('Обсуждение завершено!');
            }, discussionTimeOneUser);
        }
    };

</script>
{% endblock %}
