{% extends 'base.html' %}

{% block content %}

<div class="container">
    <p class="h2 mt-3 mb-5 font-weight-light text-center">Список тем</p>

        <ul class="list-group mb-3">
            {% for theme in themes %}
                
                <div class="row mb-2">
                    <div class="block-list col-8" style="padding:0px;">
                        <li class="list-group-item col-12" style="display:inline-block;">
                            {{ theme.theme }}    
                        </li>
                    </div>
                    <div class="block-button text-center col-2" style="padding:0px 5px;">
                        
                        <a class="theme_discussion btn btn-primary btn-lg col-12" href="#collapse{{ theme.pk }}" data-toggle="collapse" 
                            role="button" aria-expanded="false" aria-controls="collapse{{ theme.pk }}"><small>Обсуждение</small></a>
                        
                        {% if request.user.is_authenticated %}
                            {% if theme.author != request.user %}
                                <div class="collapse" id="collapse{{ theme.pk }}">
                                    <div class="card card-body p-1 m-1">
                                        {% for room in theme.rooms.all %}
                                            {% if not room.closed %}
                                            
                                                {% if room.get_participants_count == 6 %}
                                                    <span id="{{ room.name }}">
                                                        <a class="participants-{{ room.name }}" onclick="return checkUserIsExistsInRoom('{{ room.get_participants }}')" 
                                                            href="{% url 'discussion' room_id=room.pk %}">{{ room.name }}</a>
                                                        <span class="participants-{{ room.name }}-count"> - {{ room.get_participants_count }}/6</span>
                                                    </span>
                                                {% else %}
                                                    <span id="{{ room.name }}">
                                                        <a class="participants-{{ room.name }}" href="{% url 'discussion' room_id=room.pk %}">{{ room.name }}</a>
                                                        <span class="participants-{{ room.name }}-count"> - {{ room.get_participants_count }}/6</span>
                                                    </span>
                                                {% endif %}

                                            {% endif %}
                                        {% endfor %}
            
                                        <a href="{% url 'create_room' theme_id=theme.pk %}" class="btn btn-primary btn-sm">Создать комнату</a>
                                    </div>
                                </div>
                            {% else %}
                                <div class="collapse" id="collapse{{ theme.pk }}">
                                    <div class="card card-body">
                                        <p>Автор темы не может участвовать в обсуждении</p>
                                    </div>
                                </div>
                            {% endif %}
                        {% else %}
                            <div class="collapse" id="collapse{{ theme.pk }}">
                                <div class="card card-body">
                                    <p>Чтобы увидеть сущ-ие комнаты и создать новую авторизируйтесь</p>
                                </div>
                            </div>
                        {% endif %}
                    </div>

                    <div class="block-button text-center col-2" style="padding:0px;">
                        <a class="btn btn-primary btn-lg col-12" href="{% url 'description_theme' id=theme.pk %}"><small>Описание</small></a> 
                    </div> 
                </div>     
                
            {% endfor %}
        </ul>
    
    <a class="btn btn-primary btn-lg btn-block mb-3" href="{% url 'create_theme' %}">Добавить тему для обсуждения</a>
</div>


<script>

    const navigation = performance.getEntriesByType("navigation");

    if (navigation[0].type === "navigate" || navigation[0].type === "back_forward") {
        location.reload(true);
    }
    
    const wsScheme = window.location.protocol == "https:" ? "wss" : "ws";
    const numPartisipantsSocket = new WebSocket(wsScheme + '://' + window.location.host + '/ws/room_num_participants/');

    numPartisipantsSocket.onmessage = function(e) {
        const data = JSON.parse(e.data);
        const rooms_participants = (data['rooms_participants'])

        for (room_participant of rooms_participants) {
            let themeID = room_participant[0];
            let roomID = room_participant[1];
            let roomName = room_participant[2];
            let participantCount = room_participant[3];
            let participantList = room_participant[4];

            try {
                if (participantCount == 6) {
                    document.querySelector(`#collapse${themeID} .participants-${roomName}`).setAttribute('onclick', `return checkUserIsExistsInRoom("${participantList}")`);
                    document.querySelector(`#collapse${themeID} .participants-${roomName}-count`).innerHTML = ` - ${participantCount}/6`;
                } else {
                    document.querySelector(`#collapse${themeID} .participants-${roomName}`).removeAttribute("onclick");
                    document.querySelector(`#collapse${themeID} .participants-${roomName}-count`).innerHTML = ` - ${participantCount}/6`;
                }

                if (participantCount == 0) {
                    document.querySelector(`#collapse${themeID} .card #${roomName}`).remove();
                }

            } catch (e) {
                let parrent = document.querySelector(`#collapse${themeID} .card`);
                let createRoomButton = document.querySelector(`#collapse${themeID} .card .btn`);

                let outerSpan = document.createElement('span');
                let innerA = document.createElement('a');
                let innerSpan = document.createElement('span');

                outerSpan.id = roomName;
                
                innerA.className = `participants-${roomName}`;
                innerA.href = `/discussion/${roomID}`;
                innerA.innerText = roomName;

                if (participantCount == 6){
                    innerA.setAttribute('onclick', `return checkUserIsExistsInRoom("${participantList}")`);
                }

                innerSpan.className = `participants-${roomName}-count`;
                innerSpan.innerText = ` - ${participantCount}/6`;

                outerSpan.appendChild(innerA);
                outerSpan.appendChild(innerSpan);

                parrent.insertBefore(outerSpan, createRoomButton);
            }
        }
    }

    numPartisipantsSocket.onclose = function(e) {
        console.error('Error. Get number participants of room.');
        console.error(e);
    };

    function checkUserIsExistsInRoom(participants) {

        let currentUser = '{{ request.user }}';
        let room_participants_list = participants.replace(/: |<|>|,|User|Bot/g, '').replace('[', '').replace(']', '').split(' ');

        if (!room_participants_list.includes(currentUser)) {
            alert('Вы не можете присоединиться к обсуждение, в комнате нет свободного места для Вас.');
            return false;
        }
    }

</script>

{% endblock %}