{% extends 'base.html' %}

{% block content %}

<div class="container">

    <div class="mt-5">
          <h3>{{ theme.theme }}</h3>
          <p class="mb-2 text-muted">{{ theme.author }}</p>
          <p class="mb-2 text-muted">{{ theme.created_date }}</p>
          <p class="card-text"><strong>Проблема: </strong>{{ theme.problem }}</p>
          <p class="card-text"><strong>Решение: </strong>{{ theme.decision }}</p>
          <a class="btn btn-primary" href="{% url 'discussion' theme_id=theme.pk %}">Перейти на страницу обсуждения</a>
      </div>
</div>

{% endblock %}