<div class="user-avatars">
    {% if room.get_participants.0 %}
        <div class="user-avatar avatar-1 col-3 m-1">                        
            <img class="card-img-top" src="{{ room.get_participants.0.avatar.url }}" alt="User avatar">
            <h6 align="center" class="user-name">{{ room.get_participants.0.username }}</h6>
        </div>
    {% endif %}

    {% if room.get_participants.1 %}
        <div class="user-avatar avatar-2 col-3 m-1">                       
            <img class="card-img-top" src="{{ room.get_participants.1.avatar.url }}" alt="User avatar">                        
            <h6 align="center" class="user-name">{{ room.get_participants.1.username }}</h6>
        </div>
    {% endif %}

    {% if room.get_participants.2 %}
        <div class="user-avatar avatar-3 col-3 m-1">                        
            <img class="card-img-top" src="{{ room.get_participants.2.avatar.url }}" alt="User avatar">                       
            <h6 align="center" class="user-name">{{ room.get_participants.2.username }}</h6>
        </div>
    {% endif %}

    {% if room.get_participants.3 %}
        <div class="user-avatar avatar-4 col-3 m-1">                        
            <img class="card-img-top" src="{{ room.get_participants.3.avatar.url }}" alt="User avatar">                       
            <h6 align="center" class="user-name">{{ room.get_participants.3.username }}</h6>
        </div>
    {% endif %}

    {% if room.get_participants.4 %}
        <div class="user-avatar avatar-5 col-3 m-1">                       
            <img class="card-img-top" src="{{ room.get_participants.4.avatar.url }}" alt="User avatar">                        
            <h6 align="center" class="user-name">
                {% if room.get_participants.4.username %}
                    {{ room.get_participants.4.username }}
                {% else %}
                    {{ room.get_participants.4.name }}
                {% endif %}
            </h6>
        </div>
    {% endif %}

    {% if room.get_participants.5 %}
        <div class="user-avatar avatar-6 col-3 m-1">                       
            <img class="card-img-top" src="{{ room.get_participants.5.avatar.url }}" alt="User avatar">                      
            <h6 align="center" class="user-name">
                {% if room.get_participants.5.username %}
                    {{ room.get_participants.5.username }}
                {% else %}
                    {{ room.get_participants.5.name }}
                {% endif %}
            </h6>
        </div>
    {% endif %}
    
</div>