{% extends "../base.html" %}

{% block content %}

<section class="container">

    <div class="row">
        <div class="col-8 col-lg-4 offset-2 offset-lg-4">
        <form class="form-signin pt-3" method="POST">

            {% csrf_token %}

            <div class="text-center mt-5 b-1">
                <p class="h4 mb-5 font-weight-light">Смена пароля</p>
            </div>


            <div class="form-label-group">
                <label class="text-muted" for="id_old_password">Старый пароль</label>
                <input class="form-control mb-3" type="password" name="old_password" autofocus="" required="" id="id_old_password">
                {% for error in form.old_password.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>

            <div class="form-label-group">
                <label class="text-muted" for="id_new_password1">Новый пароль</label>
                <input class="form-control mb-3" type="password" name="new_password1" required="" id="id_new_password1">
                {% for error in form.new_password1.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>

            <div class="form-label-group">
                <label class="text-muted" for="id_new_password2">Подтверждение нового пароля</label>
                <input class="form-control mb-3" type="password" name="new_password2" required="" id="id_new_password2">
                {% for error in form.new_password2.errors %}
                    <div class="alert alert-danger" role="alert">
                        {{ error }}
                    </div>
                {% endfor %}
            </div>


            <div class="checkbox mb-3"></div>
            <button class="btn btn-primary btn-lg btn-block" type="submit">Изменить пароль</button>

        </form>

        <div class="mt-2 text-center"><p><a href="{% url 'main' %}">Вернуться на главную!</a></p></div>

        </div>
    </div>
</section>

{% endblock %}
