{% extends '../base.html' %}

{% block content %}

<div class="container">
    <p class="h2 mt-3 mb-5 font-weight-light text-center">Список тем</p>
    <ul class="list-group mb-3">
        {% for topic in topics %}
            <a style="text-decoration: none" href="">
                <li class="list-group-item mb-1">
                    {{ topic.topic }} - {{ topic.created_date }}
                </li> 
            </a>
        {% endfor %}
    </ul>
    <a class="btn btn-primary btn-lg btn-block mb-3" href="{% url 'create_topic' %}">Добавить тему для обсуждения</a>
</div>

{% endblock %}