{% extends "../base.html" %}

{% block content %}

<section class="container">
    <div class="row">
        <div class="col-8 col-lg-4 offset-2 offset-lg-4">
            <h4 class="text-center mt-5">Мы отправили вам инструкцию по смене пароля на электронную почту, 
                если указанный вами адрес электронной почты существует, 
                вы получите письмо в ближайшее время.</h4>
                
            <h5 class="text-center mt-3">Если вы не получили письмо, убедитесь, что вы ввели адрес, 
                который вы указали при регистрации, или проверьте папку со спамом.</h5> 

            <h5 class="text-center mt-3"><a href="{% url 'login'%}">Авторизоваться</a></h5> 
        </div>
    </div>
</section>

{% endblock %}
