{% extends "../base.html" %}

{% block content %}

<section class="container">
  <div class="row">

    <div class="col-6 mt-3">
        <img class="mb-3" style="height: 200px; width: 200px; border:3px solid black;" src="{{ user.avatar.url }}" alt="User avatar">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <input type="file" name="avatar" accept="image/*" id="id_avatar">
            <input type="submit" class="btn btn-info" value="Изменить фото профиля">
        </form>    
    </div>

    <div class="col-6 mt-3">
        <h3>{{ user.username }}</h3>
        <h5>{{ user.email }}</h5>
    </div>
    
  </div>
</section>

{% endblock %}