{% extends "../base.html" %}

{% block content %}

<main class="container">
  <section>
    <div class="row">
  
      <div class="col-6 mt-3">
          <img class="mb-3" style="height: 200px; width: 200px; border:3px solid black;" src="{{ user.avatar.url }}" alt="User avatar">
          <form action="" method="POST" enctype="multipart/form-data">
              {% csrf_token %}
              <input type="file" name="avatar" accept="image/*" id="id_avatar">
              <input type="submit" class="btn btn-info" value="Изменить фото профиля">
          </form>    
      </div>
  
      <div class="col-6 mt-3">
          <h3>{{ user.username }}</h3>
          <h5>Для связи: {{ user.email }}</h5>
      </div>
      
    </div>
  </section>

  
  <section class="mt-5">

    <h3 class="mb-3">Мои темы</h3>

    <div class="accordion" id="accordionExample">

      {% if themes %}

        {% for theme in themes %}
          <div class="card">
            <div class="card-header" id="heading{{ theme.pk }}">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ theme.pk }}" aria-expanded="true" aria-controls="collapse{{ theme.pk }}">
                  {{ theme.theme }}
                </button>
              </h2>
            </div>
        
            <div id="collapse{{ theme.pk }}" class="collapse" aria-labelledby="heading{{ theme.pk }}" data-parent="#accordionExample">
              <div class="card-body">
               {% for room in theme.rooms.all %}
                  <a href="{% url 'user_comments' discussion_id=room.pk %}">Обсуждение {{ room.pk }}, дата: {{ room.created_date }}</a> <br>
               {% endfor %}
              </div>
            </div>
          </div>
        {% endfor %}

      {% else %}
        <p>Вы не создавали тему</p>
      {% endif %}

      <a class="btn btn-info mt-3 mb-3" href="{% url 'create_theme' %}">Создать тему</a>

    </div>
  
  </section>
</main>


{% endblock %}