{% extends "../base.html" %}

{% block content %}

<main class="container">
  <section>
    <div class="row">
      <div class="col-6 mt-3">
          <img class="mb-3" style="height: 200px; width: 200px; border:3px solid black;" src="{{ user.avatar.url }}" alt="User avatar">  
      </div>
      <div class="col-6 mt-3">
          <h3>{{ user.username }}</h3>
          <h5>{{ user.email }}</h5>
      </div>
    </div>
  </section>

  
  <section class="mt-5">
    <h3 class="mb-3">Темы</h3>

    <div class="accordion" id="accordionExample">

      {% if themes %}

        {% for theme in themes %}
          <div class="card">
            <div class="card-header" id="heading{{ theme.pk }}">
              <h2 class="mb-0">
                <button class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ theme.pk }}" aria-expanded="true" aria-controls="collapse{{ theme.pk }}">
                  {{ theme.theme }}
                </button>
              </h2>
            </div>
        
            <div id="collapse{{ theme.pk }}" class="collapse" aria-labelledby="heading{{ theme.pk }}" data-parent="#accordionExample">
              <div class="card-body">
              {% if request.user.is_staff %}
               {% for room in theme.rooms.all %}
                  <a href="{% url 'user_comments' discussion_id=room.pk %}">Обсужедение {{ room.pk }}, дата: {{ room.created_date }}</a> <br>
               {% endfor %}
              {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}

      {% else %}
        <p>Пользователь не создавал темы</p>
      {% endif %}
      
    </div>
  
  </section>
</main>


{% endblock %}