
{% load staticfiles %}

<div class="container">

    <div class="mt-5 mb-5">
        <h3 class="mb-4">{{ room.theme }}</h3>

            <div class="comments-cards">
                <div class="row">

                    <div class="comments-card card text-white bg-primary mb-3 mr-3">
                        <div class="card-header">Blue</div>
                        <div class="card-body">

                            {% if blue %}
                                {% for comment in blue %}
                                    <p class="card-text">{{ comment }} - <a href="{% url 'user_account' username=comment.author %}">{{ comment.author}}</a></p>
                                {% endfor %}
                            {% else %}
                                <p class="card-text">Комментариев нет</p>
                            {% endif %}                            
                            
                        </div>
                    </div>
                    
                    <div class="comments-card card text-white bg-success mb-3 mr-3">
                        <div class="card-header">Green</div>
                        <div class="card-body">

                            {% if green %}
                                {% for comment in green %}
                                    <p class="card-text">{{ comment }} - <a href="{% url 'user_account' username=comment.author %}">{{ comment.author}}</a></p>
                                {% endfor %}
                            {% else %}
                                <p class="card-text">Комментариев нет</p>
                            {% endif %}  

                        </div>
                    </div>
        
                    <div class="comments-card card text-white bg-danger mb-3 mr-3">
                        <div class="card-header">Red</div>
                        <div class="card-body">
                            
                            {% if red %}
                                {% for comment in red %}
                                    <p class="card-text">{{ comment }} - <a href="{% url 'user_account' username=comment.author %}">{{ comment.author}}</a></p>
                                {% endfor %}
                            {% else %}
                                <p class="card-text">Комментариев нет</p>
                            {% endif %}  

                        </div>
                    </div>
        
                    <div class="comments-card card text-white bg-warning mb-3 mr-3">
                        <div class="card-header">Yellow</div>
                        <div class="card-body">
                            
                            {% if yellow %}
                                {% for comment in yellow %}
                                    <p class="card-text">{{ comment }} - <a href="{% url 'user_account' username=comment.author %}">{{ comment.author}}</a></p>
                                {% endfor %}
                            {% else %}
                                <p class="card-text">Комментариев нет</p>
                            {% endif %}  

                        </div>
                    </div>
                    
                    <div class="comments-card card bg-light mb-3 mr-3">
                        <div class="card-header">White</div>
                        <div class="card-body">
                            
                            {% if white %}
                                {% for comment in white %}
                                    <p class="card-text">{{ comment }} - <a href="{% url 'user_account' username=comment.author %}">{{ comment.author}}</a></p>
                                {% endfor %}
                            {% else %}
                                <p class="card-text">Комментариев нет</p>
                            {% endif %}  

                        </div>
                    </div>
        
                    <div class="comments-card card text-white bg-dark mb-3 mr-3">
                        <div class="card-header">Black</div>
                        <div class="card-body">
                            
                            {% if black %}
                                {% for comment in black %}
                                    <p class="card-text">{{ comment }} - <a href="{% url 'user_account' username=comment.author %}">{{ comment.author}}</a></p>
                                {% endfor %}
                            {% else %}
                                <p class="card-text">Комментариев нет</p>
                            {% endif %}  

                        </div>
                    </div>
                    
                </div>
            </div>
            
            
        
    </div>
   
</div>
