.popup-window {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
}

.popup-content {
    margin: 20% auto;
    width: 80%;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.17);
}

.popup-body {
    padding: 50px 50px;
    background: #17202A;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 30px;
    color: #fff;
}
